.containersearchresult {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.containersearchresult input {
  width: 165px;
  height: 30px;
  font-size: 15px;
  margin-right: 10px;
  color: white;
  background-color: #4f483e;
}

.containersearchresult input:hover {
  cursor: url(https://cur.cursors-4u.net/toons/too-1/too41.png), auto;
}

.containersearchresult ::placeholder {
  color: white;
  padding: 2px 2px 2px 2px;
}

.containersearchresult button {
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  background-color: #4f483e;
  color: white;
}

.containersearchresult button:hover {
  cursor: url(https://cur.cursors-4u.net/toons/too-1/too41.png), auto;
}

.containersearchresult select {
  padding: 5px 5px 5px 5px;
  background-color: #4f483e;
  color: white;
  margin: 0px 10px 0px 10px;
}

.containersearchresult select:hover {
  cursor: url(https://cur.cursors-4u.net/toons/too-1/too41.png), auto;
}
