.searchresult {
  width: 350px;
  height: auto;
  border: 1.5px solid #4f483e;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #88b3c2;
  color: #4f483e;
}

.searchresult:hover {
  background-color: #c4cccc;
  cursor: url(https://cur.cursors-4u.net/toons/too-1/too41.png), auto;
}

.searchresult img {
  height: 350px;
  width: 250px;
}

.searchresult p {
  font-weight: bold;
}

.searchresult a {
  color: #4f483e;
}

.searchresult a:hover {
  color: grey;
  cursor: url(https://cur.cursors-4u.net/toons/too-1/too41.png), auto;
}
