.post {
  display: flex;
  border: 1.5px solid #4f483e;
  width: 85%;
  height: 370px;
  margin-bottom: 20px;
  align-items: flex-start;
  border-radius: 10px;
  color: #4f483e;
  background-color: #88b3c2;
  padding: 20px;
}

.post:hover {
  background-color: #c4cccc;
  cursor: url(https://cur.cursors-4u.net/toons/too-1/too41.png), auto;
}

.post section {
  text-align: center;
  padding: 20px 20px 20px 0px;
}

.post img {
  height: 300px;
  width: 200px;
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
  margin: 0;
  color: #4f483e;
}

.title:hover {
  color: grey;
  cursor: url(https://cur.cursors-4u.net/toons/too-1/too41.png), auto;
}

.review a {
  color: #4f483e;
}

.review a:hover {
  color: grey;
  cursor: url(https://cur.cursors-4u.net/toons/too-1/too41.png), auto;
}

.review {
  font-size: 14px;
  text-align: justify;
  margin-top: 15px;
  overflow: scroll;
  height: 320px;
  width: 100%;
  line-height: 1.5;
}
