.post {
  display: flex;
  border: 1px solid black;
  width: 85%;
  height: 370px;
  margin-bottom: 20px;
  align-items: flex-start;
  border-radius: 10px;
  color: white;
  background-color: black;
}

.post:hover {
  background-color: #312f2f;
}

.post section {
  text-align: center;
  padding: 20px 10px 20px 20px;
}

.post img {
  height: 300px;
  width: 200px;
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
  margin: 0;
  color: white;
}

.title:hover {
  color: grey;
}

.review {
  font-size: 14px;
  text-align: justify;
  margin-top: 15px;
  overflow: scroll;
  height: 320px;
  width: 98%;
  line-height: 1.5;
}
